* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body::-webkit-scrollbar{
  display: none;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
}

body {
  background-color: #202342;
  color: #f4f4f4;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

/*TOP USER TAB - DATA - Style */
.user-data {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2px 80px;
  position: relative;
}

.user-data .data {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-data .data .img {
  margin-right: 20px;
}

.user-data .data .text .name {
  font-size: 20px;
  font-weight: 600;
}

.user-data .data .text .email {
  font-size: 16px;
  color: #848696;
  font-weight: 400;
}

.user-data .notif {
  margin: 0 20px;
}
.notif:hover{
  opacity: .7;
}

/*TOP COMPONENT STYLE */
.leftSide {
  /* border: 1px solid white; */
  width: 65%;
}

.cards {
  display: Flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  
}


.card {
  padding: 20px ;
  border-radius: 10px;
  background-color: #2B2F55;
 
  
}

.card.cardImg   {
  background-color: #2B2F55;
  padding: 20px;
  width: 35%;
  min-width: 20%;
  border-radius: 10px;
}
.card button {
  background: #363A5E;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin: 8px 8px 0 0px;
  color: #f4f4f4;
  cursor: pointer;
}

.cards .card .active {
  background-color: #01A9F4;
}

.cardImg {
  background-color: #2B2F55;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.card .number {
  margin: 0 20px 0 0;
}

.card .numberFailure h1 {

  color: #FE7448;
}

.card .numberChecks h1 {
  color: #01A9F4;
}

.card .number h1 span {
  color: rgb(163, 162, 162);
}

.filerCard .btns {
  display: flex;
  justify-content: space-between;
}

/*TABLE */
.tg {
  border-spacing: 0;
}
.tableHeadId{

  background: #3d426b;
}
.tableHeadId:hover{

  background:#4a518f2a ;
  transition: .5s ease-in-out;
}
.tg td {
  border-color: black;
  border-bottom-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 20px 7px;
  word-break: normal;
}

.tg th {
  border-color: black;
  border-style: none;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  padding: 15px 7px;
  word-break: normal;
}

.tg .tg-0pky {
  border-color: #64657B;
  text-align: left;
  vertical-align: top
}
.tg .tg-0pky:nth-last-child(1){
  text-align:center ;
}
table thead tr th {
  background-color: #2B2F55;

}

table {
  width: 100%;
}

table thead tr th:nth-last-child(1) {
  border-radius: 0px 8px 8px 0;
}

table thead tr th:nth-last-child(7) {
  border-radius: 8px 0px 0px 8px;
}
.success{
  background-color: #2E4D66;
  color: #63F4F7;
  width: auto;
  padding: 5px 10px;
  border-radius: 5px;
}
.fail{
  background-color: #4D3343;
  color:#FE7448 ;
  width: auto;
  padding: 5px 10px;
  border-radius: 5px;
}

/*SIDE BAR CARTS STYLES */

.firstCard {
  padding: 30px;
  background-color: #2B2F55;
  border-radius: 10px;
  margin-bottom: 20px;
}

.firstCard .text p {
  color: #848696;
  font-size: 14px;
}

.firstCard .text {
  margin: 10px 0;
  font-size: 14px;
  font-weight: 400;
}

.firstCard .firstCardBtns button {
  border: none;
  outline: none;

  border-radius: 5px;

  margin: 0 10px 10px 0;
}

.firstCard .firstCardBtns .renewBtn {
  background-color: #01A9F4;
  color: white;
  padding: 12px 30px;
}

.nextRenewal {
  font-size: 14px;
  color: #bdbdbd;
}

.firstCard .firstCardBtns .deactiveBtn {
  background-color: #323662;
  color: #EC4165;
  padding: 12px;
}

.secondCard {
  padding: 20px;
  background-color: #2B2F55;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}

.secondCard button {
  background: #323662;
  color: #EC4165;
  padding: 12px 30px;
  border-radius: 5px;

}

.thirdCard {
  padding: 20px;
  background-color: #2B2F55;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.thirdCard button {
  background: #323662;
  color: #01A9F4;
  padding: 13px 30px;
  border-radius: 5px;

}

.lastCard {
  padding: 20px;
  background-color: #2B2F55;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lastCard .lastCardBtns button{
display: block;
width: 100%;
background-color: #1EC1C3;
font-weight: 600;
color: #fff;
padding: 10px;
border-radius: 5px;
margin: 10px 0;
}
.lastCard .desktop{
border: 1px solid #323662;
  padding: 20px 5px;
}


/*POP UPS*/
.hide{
  display: none;
}

.user-data-positioning{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px;
  position: relative;
}
.notificationsCard{
  position: absolute;
  top: 80px;
  left:0px;
  width: auto;
  padding: 20px;
  background-color: #2C3159;
  color: #f4f4f4;
  border-radius: 10px;
  box-shadow:  0 0 15px rgba(0, 0, 0, 0.178);
  
}
.notification{
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px;
}
.notification .notifText{
  width: 90%;
}
.notification:not(:last-child){
  border-bottom: 1px solid rgba(211, 211, 211, 0.301);
}
.confirmationCard{
  min-width: 350px;
  max-width: 450px;
  background: #2D325A;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  position: absolute;
  top: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.171);
  left: 50%;
  transform: translate(-50%,-50%);
}
.confirmationCard .confLogo{
  border-radius: 50%;
  border: 3px solid #385979;
  background: #385979;
  padding: 5px;
}
.confirmationCard a{
  color: #20AFB6;
  text-decoration: underline;
}
.transferCard{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
overflow: hidden;
   width: 500px;
   border-radius: 10px; 
   box-shadow: 0 0 15px rgba(0, 0, 0, 0.253);
  
}
.transferCard .transferCardTextArea {
  background: #2D325A;
  padding: 30px;
  border-radius: 10px 10px 0px 0px; 
}
.transferCard .transferCardTextArea input{
display: block;
background: #252A4B;
width: 100%;
padding: 15px;
border: none;
outline: none;
color:white;
border-radius: 5px;
}
.transferCard .transferCardTextArea label {
font-size: 14px;
line-height:2em;
}
.transferCard .transferCardBtnsArea{
  background: #292D52;
  padding: 30px;
text-align: right;
border-radius: 0px 0px 10px 10px; 
margin-top: -5px;
}
.transferCard .transferCardBtnsArea button{
margin-left:20px ;
padding: 12px 45px;
color: #fff;
border-radius: 5px;

}
.transferCard .transferCardBtnsArea button:nth-child(1){
background: #2E325C;

}

.transferCard .transferCardBtnsArea button:nth-child(2){
  background: #1EC1C3;
  
  }
  
  @media screen and (max-width:1100px){
    .sidebar{
    }
 

 
  }
  @media screen and (max-width:700px){
    .cards{
      display: block;
     margin: 0 auto;
   
   
    }
    .card.cardImg ,.card{
     width: 100%;
     margin: 15px 0; 
   }
   .user-data{
    display: none;
   }
   .container{
     width: 90%;
     padding: 0;
     margin: 0 auto;
     display: block;
   }
   table thead tr th:nth-last-child(4) {
   display: none;
  }
  table tbody tr td:nth-last-child(4) {
    display: none;
   }
   table thead tr th:nth-last-child(3) {
    display: none;
   }
   table tbody tr td:nth-last-child(3) {
     display: none;
    }
  }